In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

file = pd.read_csv("data/suicide_rates.csv")
file2 = pd.read_csv("data/population/pop_totals.csv")

# preview file data using .head()
#file.head()
file2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0

In [70]:
countries = file['country'].unique()
#countries[100]

In [57]:
len(countries)

101

In [75]:
np.sort(file['year'].unique())

x_years = np.linspace(2006,2016,11)
x_years

array([2006., 2007., 2008., 2009., 2010., 2011., 2012., 2013., 2014.,
       2015., 2016.])

In [9]:
file['age'].unique()

array(['15-24 years', '35-54 years', '75+ years', '25-34 years',
       '55-74 years', '5-14 years'], dtype=object)

In [10]:
file['generation'].unique()

array(['Generation X', 'Silent', 'G.I. Generation', 'Boomers',
       'Millenials', 'Generation Z'], dtype=object)

In [51]:
max_suicide = file.groupby('suicides/100k pop').aggregate(np.max)
max_suicide

,country,year,sex,age,suicides_no,population,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
suicides/100k pop,,,,,,,,,,,
0.00,Uruguay,2016,male,75+ years,0,8673303,Uruguay2014,0.942,"997,007,926",126352,Silent
0.02,Thailand,2011,male,5-14 years,1,5821000,Thailand1994,0.651,"416,878,162,441",8906,Millenials
0.03,United Kingdom,2010,male,5-14 years,1,3778962,United Kingdom2010,0.906,"926,884,816,754",42486,Millenials
0.04,Spain,2015,male,5-14 years,2,5126281,Spain2015,0.874,"612,939,685,081",36869,Millenials
0.05,United Kingdom,2011,male,5-14 years,2,3949849,United Kingdom2003,0.870,"906,853,273,138",36289,Millenials
...,...,...,...,...,...,...,...,...,...,...,...
182.32,Republic of Korea,2010,male,75+ years,1152,631853,Republic of Korea2010,NaN,"1,094,499,338,703",22994,Silent
185.37,Republic of Korea,2011,male,75+ years,1276,688365,Republic of Korea2011,NaN,"1,202,463,682,634",25157,Silent
187.06,Suriname,2012,male,75+ years,10,5346,Suriname2012,0.711,"4,980,000,000",10227,Silent
204.92,Seychelles,2006,male,75+ years,2,976,Seychelles2006,NaN,"1,016,418,229",12442,Silent
224.97,Aruba,1995,male,75+ years,2,889,Aruba1995,NaN,"1,320,670,391",17949,G.I. Generation

In [33]:
suicide_rates = file.drop(labels = 'gdp_per_capita ($)', axis = 1)
suicide_rates = suicide_rates.drop(labels = 'country-year', axis = 1)
suicide_rates = suicide_rates.drop(labels = 'HDI for year', axis = 1)
suicide_rates = suicide_rates.drop(labels = 'age', axis =1)

In [34]:
suicide_rates

,country,year,sex,suicides_no,population,suicides/100k pop,gdp_for_year ($),generation
0,Albania,1987,male,21,312900,6.71,"2,156,624,900",Generation X
1,Albania,1987,male,16,308000,5.19,"2,156,624,900",Silent
2,Albania,1987,female,14,289700,4.83,"2,156,624,900",Generation X
3,Albania,1987,male,1,21800,4.59,"2,156,624,900",G.I. Generation
4,Albania,1987,male,9,274300,3.28,"2,156,624,900",Boomers
...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,107,3620833,2.96,"63,067,077,179",Generation X
27816,Uzbekistan,2014,female,9,348465,2.58,"63,067,077,179",Silent
27817,Uzbekistan,2014,male,60,2762158,2.17,"63,067,077,179",Generation Z
27818,Uzbekistan,2014,female,44,2631600,1.67,"63,067,077,179",Generation Z
27819,Uzbekistan,2014,female,21,1438935,1.46,"63,067,077,179",Boomers

In [83]:
#suicide_10= suicide_rates[suicide_rates['year'] >= 2006] and suicide_rates[suicide_rates['year'] <=2016]
suicide_10=suicide_rates[(suicide_rates['year'] >= 2006) & (suicide_rates['year'] <= 2015)]
suicide_10

,country,year,sex,suicides_no,population,suicides/100k pop,gdp_for_year ($),generation
204,Albania,2006,female,0,283138,0.00,"8,992,642,349",Millenials
205,Albania,2006,female,0,186391,0.00,"8,992,642,349",Generation X
206,Albania,2006,female,0,388746,0.00,"8,992,642,349",Boomers
207,Albania,2006,female,0,267316,0.00,"8,992,642,349",Millenials
208,Albania,2006,female,0,215907,0.00,"8,992,642,349",Silent
...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,107,3620833,2.96,"63,067,077,179",Generation X
27816,Uzbekistan,2014,female,9,348465,2.58,"63,067,077,179",Silent
27817,Uzbekistan,2014,male,60,2762158,2.17,"63,067,077,179",Generation Z
27818,Uzbekistan,2014,female,44,2631600,1.67,"63,067,077,179",Generation Z
27819,Uzbekistan,2014,female,21,1438935,1.46,"63,067,077,179",Boomers

In [84]:
global_suicide_10 = suicide_10.groupby("year").sum()
global_suicide_10

      suicides_no  population  suicides/100k pop
year
2006       233361  1840908837           12166.01
2007       233408  1859564353           12410.15
2008       235447  1860620851           12145.84
2009       243487  1976228366           12176.04
2010       238702  1997297329           11843.99
2011       236484  1993362332           11367.84
2012       230160  1912812088           11101.91
2013       223199  1890161710           10663.64
2014       222984  1912057309           10306.73
2015       203640  1774657932            8253.99

In [85]:
global_suicide_10["suicides_no"]

year
2006    233361
2007    233408
2008    235447
2009    243487
2010    238702
2011    236484
2012    230160
2013    223199
2014    222984
2015    203640
Name: suicides_no, dtype: int64

In [87]:
global_avg = global_suicide_10['suicides_no'].mean()
global_avg

230087.2

In [48]:
#suicide_10.groupby("country").sum()

In [49]:
by_year=suicide_10.groupby('year').head()
by_year

,country,year,sex,suicides_no,population,suicides/100k pop,gdp_for_year ($),generation
204,Albania,2006,female,0,283138,0.00,"8,992,642,349",Millenials
205,Albania,2006,female,0,186391,0.00,"8,992,642,349",Generation X
206,Albania,2006,female,0,388746,0.00,"8,992,642,349",Boomers
207,Albania,2006,female,0,267316,0.00,"8,992,642,349",Millenials
208,Albania,2006,female,0,215907,0.00,"8,992,642,349",Silent
216,Albania,2007,male,8,42366,18.88,"10,701,011,897",Silent
217,Albania,2007,male,29,378626,7.66,"10,701,011,897",Boomers
218,Albania,2007,male,14,224160,6.25,"10,701,011,897",Silent
219,Albania,2007,female,3,57404,5.23,"10,701,011,897",Silent
220,Albania,2007,male,9,172494,5.22,"10,701,011,897",Generation X
228,Albania,2008,male,21,172855,12.15,"12,881,352,688",Generation X
229,Albania,2008,male,37,377119,9.81,"12,881,352,688",Boomers
230,Albania,2008,male,21,228672,9.18,"12,881,352,688",Silent
231,Albania,2008,female,5,59369,8.42,"12,881,352,688",Silent
232,Albania,2008,female,20,276073,7.24,"12,881,352,688",Millenials
240,Albania,2009,female,0,270003,0.00,"12,044,212,904",Millenials
241,Albania,2009,female,0,182712,0.00,"12,044,212,904",Generation X
242,Albania,2009,female,0,394286,0.00,"12,044,212,904",Boomers
243,Albania,2009,female,0,236174,0.00,"12,044,212,904",Generation Z
244,Albania,2009,female,0,233302,0.00,"12,044,212,904",Silent
252,Albania,2010,male,20,241852,8.27,"11,926,953,259",Silent
253,Albania,2010,male,20,371611,5.38,"11,926,953,259",Generation X
254,Albania,2010,male,9,179720,5.01,"11,926,953,259",Generation X
255,Albania,2010,male,2,50767,3.94,"11,926,953,259",Silent
256,Albania,2010,male,10,279508,3.58,"11,926,953,259",Millenials
540,Antigua and Barbuda,2012,female,0,8435,0.00,"1,211,411,704",Millenials
541,Antigua and Barbuda,2012,female,0,7215,0.00,"1,211,411,704",Millenials
542,Antigua and Barbuda,2012,female,0,15193,0.00,"1,211,411,704",Generation X
543,Antigua and Barbuda,2012,female,0,8401,0.00,"1,211,411,704",Generation Z
544,Antigua and Barbuda,2012,female,0,5512,0.00,"1,211,411,704",Boomers
552,Antigua and Barbuda,2013,female,0,8494,0.00,"1,192,925,407",Millenials
553,Antigua and Barbuda,2013,female,0,7397,0.00,"1,192,925,407",Millenials
554,Antigua and Barbuda,2013,female,0,15236,0.00,"1,192,925,407",Generation X
555,Antigua and Barbuda,2013,female,0,8353,0.00,"1,192,925,407",Generation Z
556,Antigua and Barbuda,2013,female,0,5787,0.00,"1,192,925,407",Boomers
564,Antigua and Barbuda,2014,female,0,8537,0.00,"1,280,133,333",Millenials
565,Antigua and Barbuda,2014,female,0,7578,0.00,"1,280,133,333",Millenials
566,Antigua and Barbuda,2014,female,0,15273,0.00,"1,280,133,333",Generation X
567,Antigua and Barbuda,2014,female,0,8296,0.00,"1,280,133,333",Generation Z
568,Antigua and Barbuda,2014,female,0,6085,0.00,"1,280,133,333",Boomers
576,Antigua and Barbuda,2015,female,1,6403,15.62,"1,364,863,037",Boomers
577,Antigua and Barbuda,2015,female,0,8561,0.00,"1,364,863,037",Millenials
578,Antigua and Barbuda,2015,female,0,7740,0.00,"1,364,863,037",Millenials
579,Antigua and Barbuda,2015,female,0,15323,0.00,"1,364,863,037",Generation X
580,Antigua and Barbuda,2015,female,0,8239,0.00,"1,364,863,037",Generation Z
900,Argentina,2011,male,178,674738,26.38,"530,163,281,575",Silent
901,Argentina,2011,male,693,3471151,19.96,"530,163,281,575",Millenials
902,Argentina,2011,male,510,3258804,15.65,"530,163,281,575",Millenials
903,Argentina,2011,male,416,2788575,14.92,"530,163,281,575",Boomers
904,Argentina,2011,male,504,4738525,10.64,"530,163,281,575",Generation X
1248,Armenia,2016,male,12,61956,19.37,"10,546,135,160",Silent
1249,Armenia,2016,male,16,237813,6.73,"10,546,135,160",Boomers
1250,Armenia,2016,male,16,350633,4.56,"10,546,135,160",Generation X
1251,Armenia,2016,male,5,202220,2.47,"10,546,135,160",Millenials
1252,Armenia,2016,female,2,102414,1.95,"10,546,135,160",Silent

In [50]:
by_country=by_year.groupby('country').head()
by_country

,country,year,sex,suicides_no,population,suicides/100k pop,gdp_for_year ($),generation
204,Albania,2006,female,0,283138,0.00,"8,992,642,349",Millenials
205,Albania,2006,female,0,186391,0.00,"8,992,642,349",Generation X
206,Albania,2006,female,0,388746,0.00,"8,992,642,349",Boomers
207,Albania,2006,female,0,267316,0.00,"8,992,642,349",Millenials
208,Albania,2006,female,0,215907,0.00,"8,992,642,349",Silent
540,Antigua and Barbuda,2012,female,0,8435,0.00,"1,211,411,704",Millenials
541,Antigua and Barbuda,2012,female,0,7215,0.00,"1,211,411,704",Millenials
542,Antigua and Barbuda,2012,female,0,15193,0.00,"1,211,411,704",Generation X
543,Antigua and Barbuda,2012,female,0,8401,0.00,"1,211,411,704",Generation Z
544,Antigua and Barbuda,2012,female,0,5512,0.00,"1,211,411,704",Boomers
900,Argentina,2011,male,178,674738,26.38,"530,163,281,575",Silent
901,Argentina,2011,male,693,3471151,19.96,"530,163,281,575",Millenials
902,Argentina,2011,male,510,3258804,15.65,"530,163,281,575",Millenials
903,Argentina,2011,male,416,2788575,14.92,"530,163,281,575",Boomers
904,Argentina,2011,male,504,4738525,10.64,"530,163,281,575",Generation X
1248,Armenia,2016,male,12,61956,19.37,"10,546,135,160",Silent
1249,Armenia,2016,male,16,237813,6.73,"10,546,135,160",Boomers
1250,Armenia,2016,male,16,350633,4.56,"10,546,135,160",Generation X
1251,Armenia,2016,male,5,202220,2.47,"10,546,135,160",Millenials
1252,Armenia,2016,female,2,102414,1.95,"10,546,135,160",Silent

In [93]:
by_country.groupby("year").sum()

      suicides_no  population  suicides/100k pop
year
2006            0     1341498               0.00
2011         2301    14931793              87.55
2012            0       44756               0.00
2016           51      955036              35.08